/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/history
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/filemanager/files
/public/filemanager/photos
/.idea/
\.editorconfig
composer\.lock
